<section>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefono</th>
                </tr>
            </thead>
            <tbody>
            {{#each data}}
                <tr>
                    <th scope="row">{{this.id}}</th>
                    <td>{{this.nombre}}</td>
                    <td>{{this.apellido}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.telefono}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
</section>